@import '/assets/scss/abstracts/variables';

.footer {
  margin-top: 6rem;
  position: relative;
  background: #F0F0F0;
  color: $color__bright;

  &__container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .back__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 2.6rem 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      transition: all 3s linear;
      cursor: pointer;

      svg {
        position: relative;
        right: 0px;
        transition: all .5s linear;
      }

      &:hover {

        svg {
          right: 2rem;
        }
      }

      &_title {
        margin-left: 1.2rem;
        font-family: $primary__typo;
        font-size: 1.44rem;
        line-height: 135%;
        color: $color__cta-primary--default;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.2rem 0;

    @media (max-width: $screen-lg) {
      flex-direction: column;
    }

    &_links {
      width: 30rem;

      @media (max-width: $screen-lg) {
        text-align: center;
        margin-bottom: 3.2rem;
      }

      &_logo {
        margin-bottom: 3.2rem;
      }

      &_social{
        display: flex;
        justify-content: center;
        width: 24rem;

        @media (max-width: $screen-lg) {
          width: 100%;
        }

        a {
          margin: 0 .8rem;

          svg {
            height: 3.2rem;
            width: 3.2rem;
          }
        }
      }
    }

    &_contacts {
      width: 30rem;
      font-family: $primary__typo;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 135%;
      color: $color__dark;

      &_title {
        font-weight: 700;
        margin-bottom: .8rem;
      }

      &_address:last-of-type {
        margin-bottom: 1.6rem;
      }

      &_data {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        text-decoration: none;
        color: #000;

        p {
          margin-left: 1.6rem;
        }
      }
    }
  }

  &__legals {
    width: 100%;
    background: #1D4451;
    text-align: center;
    padding: 1.6rem 0;
    
    &_link {
      font-family: $primary__typo;
      font-weight: 400;
      font-size: 1.44rem;
      line-height: 135%;
      text-decoration: none;
      color: $color__bright;

      margin: 1.6rem;
    }
  }
}
