@function rem($font-size, $rem-base: 10) {
  @return ($font-size/$rem-base) *1rem;
}

// typo

@mixin font($size, $weight, $line-height, $color: $color__dark) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
  color: $color;
}

@mixin sectionTitle {
  font-family: $title__typo;
  @include font(1.8rem, 700, 120%);
}

@mixin optionTitle {
  font-family: $title__typo;
  @include font(1.5rem, 700, 120%);
}

// position

@mixin flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-end-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

// size

@mixin squareSize($size) {
  width: $size;;
  height: $size;
}

