@function rem($font-size, $rem-base: 10) {
  @return ($font-size/$rem-base) *1rem;
}

// typo

@mixin sectionTitle {
  font-family: $title__typo;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 120%;
}

@mixin optionTitle {
  font-family: $title__typo;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 120%;
}

// position

@mixin flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

