@import "../../../assets/scss/abstracts/variables";

.toggle {
    display: flex;
    margin: 3.2rem 0;

    .option {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      padding: 1.6rem 0 0;
      background: rgba(0, 0, 0, 0.04);

      &.active { 
        background: $color__cta-primary--default;
        color: $color__bright;
        position: relative;

        .toggle__title {
          color: #FFFFFF;
          background: rgba(255, 255, 255, 0.16);
        }

        .option_icon {
          fill: $color__bright;
        }
      }

      &_icon {
        display: block;
        width: 9.6rem;
        height: 9.6rem;
        margin-bottom: 1.6rem;
        fill: $color__cta-primary--default;
      }
    }

    &__title {
      display: block;
      height: 5.4rem;
      width: 100%;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 5.4rem;
      text-align: center;

      color: $color__cta-primary--default;
      background: rgba(0, 0, 0, 0.04);
    }  
}