@import '../../assets//scss/abstracts/variables';

.title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 120%;
}

.finalForm {
  box-sizing: border-box;
  width: 100%;
  max-width: 86rem;
  margin: 5rem auto;
  padding: 0 .8rem;

  iframe {
    width: 100%;
  }

  div {
    box-sizing: border-box;
  }

  @media (max-width: $screen-lg) {
    width: 100%;
    padding: 0 2.4rem;
  }

  &_header {
    margin-bottom: 1rem;

    &_title {
      font-weight: 700;
      font-size: 2.8rem;
      margin-bottom: 1.6rem;
    }

    &_subtitle {
      font-size: 2.4rem;
      line-height: 135%;
      margin-bottom: 3.2rem;
    }

    &_description {
      font-size: 2rem;
      line-height: 135%;
      margin-bottom: 3.2rem;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2.4rem;
    margin-bottom: 2.4rem;
    border-bottom: 1px solid #ccc;

    a {
      text-decoration: none;
    }
    
    @media (max-width: $screen-lg) {
      flex-direction: column;
    }
  }

  &__reset {
    display: flex;
    justify-content: space-between;
    margin-top: 2.4rem;
    font-size: 1.8rem;
    line-height: 135%;

    @media (max-width: $screen-md) {
      flex-direction: column;
    }

    &_text {
      margin-right: 2.4rem;
      width: 70%;

      p {
        margin-bottom: .8rem;
      }
    }
  }

  .resetBtn {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20.8rem;
    height: 5rem;
    padding: 1.4rem;
    background: $color__cta-primary--default;
    color: $color__bright;
    font-weight: 600; 
    font-size: 1.6rem;
    line-height: 2rem;
    cursor: pointer;

    @media (max-width: $screen-md) {
      width: 100%;
    }

    &:hover {
      background: $color__cta-primary--hover;

      svg {
        transform: rotate(-360deg);
        transition: all .5s ease-in-out;
      }
    }
  }
}
