@import '../../assets//scss/abstracts/variables';

.summary {
	position: relative;
	top: 7.5rem;

	&__room {
		width: 100%;

		&_title {
			margin: 6rem auto 2rem;
			@include roomTitle;
			text-transform: capitalize;
		}

		&_image {
			position: relative;
			width: 100% !important;
			height: auto !important;

			span {
				position: relative !important;
				width: 100% !important;
			}

			img {
				top: 0 !important;
				position: relative !important;
				width: 100% !important;
				height: auto !important;
			}
		}

		&_data {
			display: flex;
			flex-wrap: wrap;
			width: 100%;

			@media (max-width: 1000px) {
				flex-direction: column;
			}

			.fullLine {
				width: 100%;
				display: flex;

				@media (max-width: 1000px) {
					flex-direction: column;
					margin: 0 auto;
					max-width: 36rem;
				}
			}

			.halfLine {
				flex: 0 0 40%;
				margin: 0 5%;

				@media (max-width: 1000px) {
					width: 100%;
					margin: 0 auto;
					max-width: 36rem;
				}
			}

			&_title {
				@include optionGroupTitle;
				margin: 1.6rem 0 1.2rem;
			}
		}

		&_card_wrapper {
			position: relative;
		}

		&_edit_icon {
			position: absolute;
			right: 0;
			top: 0;
			@include squareSize(4.4rem);
			z-index: 10;

			svg {
				@include squareSize(4.4rem);
			}
		}	
	}

	.title {
		margin-bottom: 3.2rem;
	}

	.stats {
		padding: 1.4rem;
	} 
}