@import '../assets/scss/abstracts/variables';

.welcome {
  position: relative;
  height: 100vh;
  margin: 0 auto;

  @media (max-width: $screen-lg) {
    height: 100%;
  }

  &__inner {
    padding: 9rem 1.6rem 3.2rem;
    max-width: 86rem;
    margin: 0 auto;

    @media (max-width: $screen-lg) {
      padding: 10rem 2.4rem 2.4rem;
    }

    &_header {

      &_title {
    
        @media (max-width: $screen-lg) {
          text-align: left;
        }
      }

      &_description {
        margin-top: 2.4rem;
        margin-bottom: 3.2rem;
        @include lead;
      }
    }

    &_content {
      display: flex;

      @media (max-width: $screen-lg) {
        flex-direction: column;
      }
    }

    .halfLine {
      width: 50%;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-self: center;
      margin-right: 2rem;

      @media (max-width: $screen-lg) {
        width: 100%;
        max-width: 60rem;
        margin: 0 2.4rem;
        order: 2;
      }
    }

    .planImage {
      position: relative;
      @include flex-center-center;
      min-height: 70vh;

      img {
        max-height: 60rem !important;
        min-width: 0 !important;
        width: auto !important;
      }

      @media (max-width: $screen-lg) {
        width: 100%;
        order: 1;
        margin: 0 auto 3.2rem;
      }
    }
  }

  .toggle__title {
    margin: 3.4rem 0 .8rem;
    font-weight: 700;
    text-align: center; 
  }

  .submitBtn {
    width: 20rem;
    align-self: center;

    @media (max-width: $screen-lg) {
      width: 100%;
    }
  }

  .btn__getContacts {
    position: fixed;
    right: 3.2rem;
    bottom: 3.2rem;
    
    @media (max-width: $screen-lg) {
      display: none;
    }
  }
}
