@import "../../../assets/scss/abstracts/variables";

.btn {
    text-decoration: none;
    padding: 1.4rem;
    position: relative;
    @include flex-center-center;
  
    &__wrapper {
      position: relative;
    }
  
    &--primary {
      background: $color__cta-primary--default;
      color: $color__bright;
      font-weight: 600;
  
      &.disabled {
        background: rgba(var(--color__primary), 0.3);
      }

      &:hover {
        background: $color__cta-primary--hover;
      }
    }

    &--inline {
      display: inline-block;
    }

    svg {
      margin: 0 1rem;
    }
  
    &.back {
      background: var(--color__secondary);
      flex: 1 0 40% !important;
      z-index: 10;
  
      &:before {
        border-style: solid;
        border-width: rem(3) rem(3) 0 0;
        content: '';
        display: inline-block;
        height: 10px;
        position: relative;
        vertical-align: top;
        width: 10px;
        margin-right: rem(16);
        transform: rotate(-135deg);
      }
    }
  
    &.disabled {
      pointer-events: none;
    }
  }
  