@import "../../../assets/scss/abstracts/variables";

.btn {
  position: relative;
  @include flex-center-center;
  @include buttonTitle;
  // width: 100%;
  height: 4.8rem;
  padding: 0 1rem;
  cursor: pointer;

  svg {
    margin: 0 .8rem;
    min-width: 1.7rem;
  }

  &.primary {
    background: $color__cta-primary--default;
    color: $color__bright;

    &:hover {
      background: $color__cta-secondary--hover;
    }
  }

  &.secondary {
    background: transparent;
    color: $color__cta-primary--default;
    border: 1px solid $color__cta-primary--default;

    svg {
      fill: $color__cta-primary--default;
    }

    &:hover {
      background: $color__cta-secondary--hover;
      color: $color__bright;

      svg {
        fill: $color__bright;
      }
    }
  }

  &.back {
    background: rgba($color__cta-primary--hover, 0.72);
    color: $color__bright;

    &:hover {
      background: $color__cta-secondary--hover;
    }
  }
}
