@import "../../../assets/scss/abstracts/variables";

.formHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.6rem;
  background-color: $color__brand--primary;
  padding-left: 2.4rem;

  font-weight: 300;
  font-size: 2.1rem;
  color: rgb(255, 255, 255);

  &__closeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.6rem;
    width: 5.6rem;
    cursor: pointer;

    svg {
      width: 1.8rem;
      height: 1.8rem;
    }
  }
}

