@import '../../../assets/scss/abstracts/variables';

.infoBox {
    position: absolute;
    left: 50%;
    transform: translateX(-80%);
    bottom: 2.4rem;
    max-width: 66rem;
    width: 100%;
    height: 9rem;
    background: rgba($color__bright, 0.8);
    padding: 2.4rem;
    overflow: hidden;
    transition: .25s height ease-in;

    @media (max-width: 1300px) {
      width: calc((100% - 60rem));
      height: 5.6rem;
      transform: translateX(-87%);
      padding: 1.6rem 2.4rem;
    }

    @media (max-width: 1000px) {
      width: calc((100% - 52rem));
      transform: translateX(0);
      left: 5%;
    }

    @media (max-width: $screen-lg) {
      bottom: 5.2rem;
      left: calc((100% - 36rem)/2);
      transform: translateX(0);
      width: calc(100% - 4.8rem);
      max-width: calc(36rem - 4.8rem);
      height: 5.6rem;
      padding: 1.6rem 2.4rem;
    }
  
    h2 {
      margin-bottom: 0;
      @include font(2.4rem, 700, 3.4rem);
      text-transform: uppercase;

      @media (max-width: $screen-lg) {
        @include font(1.8rem, 700, 2.4rem);
      }
    }
  
    .row {
      align-items: center;
    }
  
    .close {
      margin-left: auto;
      cursor: pointer;
    }

    .text_block {
      display: flex;
    }
  
    .text_block__text {
      margin-top: 1.6rem;
      @include font(1.8rem, 400, 2.7rem);

      @media (max-width: $screen-lg) {
        @include font(1.6rem, 400, 2.4rem);
      }
    }
  
    &.open {
      height: auto;
    }
  
    &.closed {
      height: auto;
  
      .text_block__text {
        display: none;
      }
    }
  }
  